* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #4d4e53;
  font-size: 0.96em;
}

h1 {
  font-weight: lighter;
  color: black;
  font-size: 1.8em;
}

#container {
  position: relative;
}


.headie {
  text-align: center;
}
.headie > h1 {
  padding-left: 5px;
}

.overflowy {
  max-width: calc(100vw - 1.09rem);
  max-height:199px;
  display: grid;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-bottom: 2px solid black;

}


.overflowy > a {
  border-top: 1px solid black;
  display: block;
  position: relative;
  padding-left: 20px;
}

.overflowy > a > p{
display: block;
margin: auto;
margin: 0.6rem;

}

.nav-link {
  text-decoration: none;
  color: #4d4e53;
  font-size: 0.96em;
}

#main-doc {
  height: 100%;
  border-left: 1px solid black;
  padding: 1.9375rem 1.25rem 2.5rem 1.25rem;
  margin-top: -23px;
}

.main-section > div {
  background: #f7f7f7;
  line-height: 2;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  margin-left: 1.5625rem;
}

.main-section > h1,
p,
ul > li {
  margin-bottom: 0.9375rem;
}

.main-section > p {
  margin-left: 0.9375rem;
}

ul {
  padding-left: 4.75rem;
}

.disc-bullet {
  padding-left: 3.6875rem;
}

code {
  display: block;
}

@media screen and (min-width:791px){

#navbar {
  position: fixed;
  border-left: 1px solid black;
  width: 300px;
}

.headie {
  align-items: center;
  margin-top: 20px;  
}

.overflowy {
  max-height: calc(100vh - 3rem);
  overflow-y: scroll;
}

.overflowy > a {
  border-top: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: #4d4e53;
  font-size: 0.96em;
}

#main-doc {
  height: 100%;
  margin-left: 299px;
  border-left: 1px solid black;
  padding: 1.9375rem 1.25rem 2.5rem 2.375rem;
}

}